.about-me-container {
    display              : grid;
    justify-content      : space-between;
    margin-left          : 15vw;
    margin-right         : 15vw;
    text-align           : center;
    grid-gap             : 3vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas  : ". a ." "b a c" "b d c" "e d f" "e g f" ". g .";
}
@media only screen and (max-width:1024px) and (orientation: portrait) {
    .about-me-container {
        margin-left          : 10vw;
        margin-right         : 10vw;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas  : ". a a ." "b b c c" "d d e e" "f f g g";
    }
}
@media only screen and (max-width: 320px) and (orientation: portrait) {
    .about-me-container {
        margin-left          : 5vw;
        margin-right         : 5vw;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas  : "a" "b" "c" "d" "e" "f" "g";
    }
}

.about-me-container > div#a {
    grid-area: a;
}

.about-me-container > div#b {
    grid-area: b;
}

.about-me-container > div#c {
    grid-area: c;
}

.about-me-container > div#d {
    grid-area: d;
}

.about-me-container > div#e {
    grid-area: e;
}

.about-me-container > div#f {
    grid-area: f;
}

.about-me-container > div#g {
    grid-area: g;
}