.card.projects {
  padding-top: 83.33333333%;
}
.card.projects .content {
  transform: translate(0, 0);
  transition: transform 0.4s ease-in-out;
}
.card.projects .content .img-area {
  width: 100%;
  height: 67.5%;
  display: flex;
  justify-content: center;
}
.card.projects .content img {
  object-fit: contain;
  width: 100%;
  height: auto;
}
.card.projects .content .line-area {
  margin-top: -5%;
  height: 12%;
  transition: margin-top 0.4s ease-in-out;
}
.card.projects .content .circle {
  width: 10%;
  padding-top: 10%;
}
.card.projects .content .text-container {
  height: 26.5%;
}
.card.projects:hover .content {
  transform: translate(0, -67.5%);
  transition: transform 0.4s ease-in-out;
}
.card.projects:hover .content .line-area {
  margin-top: 2%;
  transition: margin-top 0.4s ease-in-out;
}
.card.projects .text-container h5 {
  font-size: 1vw;
}
.card.projects .text-container h4 {
  font-size: 1.6vw;
}
@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .card.projects .text-container h5 {
    font-size: 2.3vw;
  }
  .card.projects .text-container h4 {
    font-size: 3.2vw;
  }
}
@media only screen and (max-width: 600px) and (orientation: portrait) {
  .card.projects .text-container h5 {
    font-size: 2.5vw;
  }
  .card.projects .text-container h4 {
    font-size: 4.5vw;
  }
}
.card.projects .description-area h6 {
  font-size: 0.95vw;
}
@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .card.projects .description-area h6 {
    font-size: 2.2vw;
  }
}
@media only screen and (max-width: 600px) and (orientation: portrait) {
  .card.projects .description-area h6 {
    font-size: 2.45vw;
  }
}
