.card.about-me {
  padding-top: 110%;
}
.card.about-me .content {
  transform: translate(0, 0);
  transition: transform 0.4s ease-in-out;
}
.card.about-me .content .img-area {
  width: 100%;
  height: 63.63636364%;
  display: flex;
  justify-content: center;
}
.card.about-me .content img {
  object-fit: contain;
  width: 70%;
  height: auto;
}
.card.about-me .content .line-area {
  margin-top: 0%;
  height: 13.63636364%;
  transition: margin-top 0.4s ease-in-out;
}
.card.about-me .content .circle {
  width: 15%;
  padding-top: 15%;
}
.card.about-me .content .text-container {
  height: 22.72727273%;
}
.card.about-me:hover .content {
  transform: translate(0, -63.63636364%);
  transition: transform 0.4s ease-in-out;
}
.card.about-me:hover .content .line-area {
  margin-top: 3%;
  transition: margin-top 0.4s ease-in-out;
}
.card.about-me .content .img-area img {
  transform: scale(0.85, 0.85);
  clip-path: circle(50% at center);
}
