.card.aspect-ratio-10x15 {
  padding-top: 100%;
}
.card.aspect-ratio-10x15 .content {
  transform: translate(0, 0);
  transition: transform 0.4s ease-in-out;
}
.card.aspect-ratio-10x15 .content .img-area {
  width: 100%;
  height: 56.25%;
}
.card.aspect-ratio-10x15 .content .img-area div {
  width: auto;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.card.aspect-ratio-10x15 .content .line-area {
  margin-top: -7.5%;
  height: 15%;
  transition: margin-top 0.4s ease-in-out;
}
.card.aspect-ratio-10x15 .content .circle {
  width: 15%;
  padding-top: 15%;
}
.card.aspect-ratio-10x15 .content .text-container {
  height: 36.25%;
}
.card.aspect-ratio-10x15:hover .content {
  transform: translate(0, -56.25%);
  transition: transform 0.4s ease-in-out;
}
.card.aspect-ratio-10x15:hover .content .line-area {
  margin-top: 3%;
  transition: margin-top 0.4s ease-in-out;
}
