.background {
    position         : absolute;
    opacity          : .2;
    background-repeat: no-repeat;
    background-color : #0a0a0c;
    width            : 100%;
    height           : 100%;
    top              : auto;
    -webkit-transform: translate(0, -50%);
    transform        : translate(0, -50%);
    background-size  : cover;
    z-index          : -1;
}

#about-me .background {
    background-image: linear-gradient(to bottom, #0a0a0c 0%, rgba(10, 10, 12, 0) 45%, #0a0a0c 100%), url("/images/backgrounds/forest-background.jpg");
    opacity         : .04;
}

#skills .background {
    background-image: linear-gradient(to bottom, #0a0a0c 0%, rgba(10, 10, 12, 0) 45%, #0a0a0c 100%), url("/images/projects/shotgo/1.jpg");
    opacity         : .14;
}

#projects .background {
    background-image: linear-gradient(to bottom, #0a0a0c 0%, rgba(10, 10, 12, 0) 45%, #0a0a0c 100%), url("/images/projects/tetracer/1.jpg");
    opacity         : .08;
}

.card.skills h4 {
    font-size: 1.3em;
}

.card.skills h5 {
    font-size: 1em;
}

.card.skills h6 {
    margin-left : 20px;
    margin-right: 20px;
}

.card.about-me h4 {
    font-size: 1.5em;
}

.card.about-me h5 {
    font-size: 1em;
}

.card.about-me h6 {
    margin-left : 20px;
    margin-right: 20px;
}

.card.about-me .content .img-area img {
    -webkit-transform: scale(0.85, 0.85);
    transform        : scale(0.85, 0.85);
    border-radius    : 50%;
}

.card.about-me .text-container h5 {
    font-size: 1vw;
}

.card.about-me .text-container h4 {
    font-size: 1.3vw;
}

.card.about-me .text-container h6 {
    font-size: 1vw;
}
@media only screen and (max-width: 1024px) and (orientation: portrait) {
    .card.about-me .text-container h5 {
        font-size: 1.8vw;
    }

    .card.about-me .text-container h4 {
        font-size: 2.5vw;
    }

    .card.about-me .text-container h6 {
        font-size: 1.8vw;
    }
}
@media only screen and (max-width: 414px) and (orientation: portrait) {
    .card.about-me .text-container h5 {
        font-size: 4vw;
    }

    .card.about-me .text-container h4 {
        font-size: 5vw;
    }

    .card.about-me .text-container h6 {
        font-size: 4vw;
    }
}

.card.about-me .description-area h6 {
    font-size: .9vw;
}
@media only screen and (max-width: 1024px) and (orientation: portrait) {
    .card.about-me .description-area h6 {
        font-size: 1.7vw;
    }
}
@media only screen and (max-width: 414px) and (orientation: portrait) {
    .card.about-me .description-area h6 {
        font-size: 3.9vw;
    }
}

.card.projects h4 {
    font-size: 1.5em;
}

.card.projects h5 {
    font-size: 1em;
}

.card.projects h6 {
    font-size   : 1em;
    margin-left : 20px;
    margin-right: 20px;
}