// main: cards.less

.card.projects {
    .insertCardDetails(@aspect-ratio-w: 6, @aspect-ratio-h: 5, @aspect-ratio-img-w: 16, @aspect-ratio-img-h: 9, @circle-size: 10%, @circle-should-overlap: 1);

    & .content {
        & img {
            object-fit: contain;
            position: absolute;
        }
    }

    & .text-container {
        & h5 {
            font-size: 1vw;
        }

        & h4 {
            font-size: 1.6vw;
        }
        @media only screen and (max-width:1024px) and (orientation: portrait) {
            & h5 {
                font-size: 2.3vw;
            }

            & h4 {
                font-size: 3.2vw;
            }
        }
        @media only screen and (max-width: 414px) and (orientation: portrait) {
            & h5 {
                font-size: 2.5vw;
            }

            & h4 {
                font-size: 4.5vw;
            }
        }
    }

    & .description-area {
        & h6 {
            font-size: 0.95vw;
        }
        @media only screen and (max-width:1024px) and (orientation: portrait) {
            & h6 {
                font-size: 2.2vw;
            }
        }
        @media only screen and (max-width: 414px) and (orientation: portrait) {
            & h6 {
                font-size: 2.45vw;
            }
        }
    }
}